*{
    text-align: center;
  }
  table, td, th{
    margin: 0 auto;
    padding: 10px;
    border:  1px solid black;
    text-align: center;
    border-collapse: collapse;
  }
  tr{
    width: 200px;
  }